@model YourNamespace.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі автомобіля</h1>

<div>
    <h4>@Model.Make @Model.Model</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EngineType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EngineType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>