@foreach (var car in Model)
{
    <tr>
        <td>@car.Make</td>
        <td>@car.Model</td>
        <td>@car.Price</td>
        <td>@car.EngineType</td>
        <td>
            <form method="post" asp-action="Order">
                <input type="hidden" name="carId" value="@car.Id" />
                <button type="submit">Order</button>
            </form>
        </td>
    </tr>
}
